.fifty-char{
    width: 50ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.hundred-char{
    width: 100ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}